/* 탑버튼 시작 */
.top-btn {
  position:fixed;
  bottom:0;
  right:0;
  z-index:10;
}
/* 탑버튼 끝 */

/* 퀵 바 시작 */
.quick-bar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.quick-bar>ul {
  display: none;
}

.quick-bar>ul>li>a {
  background-image: url(http://aliceskin.com/images/common/quick.png);
  width: 121px;
  height: 71px;
}

.quick-bar>ul>li:nth-child(1)>a {
  background-position: -20px -117px;
}

.quick-bar>ul>li:hover:nth-child(1)>a {
  background-position: -162px -117px;
}

.quick-bar>ul>li:nth-child(2)>a {
  background-position: -20px -189px;
}

.quick-bar>ul>li:hover:nth-child(2)>a {
  background-position: -162px -189px;
}

.quick-bar>ul>li:nth-child(3)>a {
  background-position: -20px -405px;
}

.quick-bar>ul>li:hover:nth-child(3)>a {
  background-position: -162px -405px;
}

.quick-bar>ul>li:nth-child(4)>a {
  background-position: -20px -261px;
}

.quick-bar>ul>li:hover:nth-child(4)>a {
  background-position: -162px -261px;
}

.quick-bar>ul>li:nth-child(5)>a {
  background-position: -20px -333px;
}

.quick-bar>ul>li:hover:nth-child(5)>a {
  background-position: -162px -333px;
}

/* 퀵 바 끝 */

/* 탑 배너 바 시작 */
.top-banner-bar {
  height: 120px;
  overflow-y: hidden;
  transition: height 0.3s;
}

html.top-bar-hidden .top-banner-bar {
  height: 0;
}

.top-banner-bar .btn-toggle-top-banner-bar {
  cursor: pointer;
}

.top-banner-bar .slider-box-4 {
  width: 1280px;
  margin: 0 auto;
}

.top-banner-bar .slider-box-4>.slider>.slick-dots {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  width: auto;
}
.top-banner-bar .slider-box-4>.slider>.slick-dots>li:first-child{
  margin-left: 5px;
}
.top-banner-bar .slider-box-4>.slider>.slick-dots>li {
  margin: 0;
}

/* 탑 배너 바 끝 */

/* 탑바 시작 */
.top-bar {
  background-color: #231f20;
}

.top-bar>.row>.cell {
  width: calc((100% - 267px) / 2);
}

.top-bar>.row>.cell:nth-child(2) {
  width: 267px;
}

.top-bar .btn-toggle-top-banner-bar>img:last-child {
  display: none;
}

html.top-bar-visible .top-bar .btn-toggle-top-banner-bar>img:last-child {
  display: block;
}

html.top-bar-visible .top-bar .btn-toggle-top-banner-bar>img:first-child {
  display: none;
}

/* 탑바 끝 */

/* 탑 메뉴바 시작 */
.top-menu-bar {
  border-bottom: 1px solid #cac9c9;
}

.top-menu-bar .menu-box-1>ul {
  position: relative;
}

.top-menu-bar .menu-box-1>ul>li>a {
  font-size: 17px;
  letter-spacing: -1px;
  padding: 26px 0;
  border-right: 1px solid #cac9c9;
  text-align: center;
}

.top-menu-bar .menu-box-1>ul>li:first-child>a {
  border-left: 1px solid #cac9c9;
}

.top-menu-bar .menu-box-1>ul>li:hover>a {
  color: #DD467E;
}

.top-menu-bar .menu-box-1>ul>li>.sub-menu>.row {
  position: absolute;
  display: none;
  z-index: 10;
}

.top-menu-bar .menu-box-1>ul>li:hover>.sub-menu>.row {
  display: block;
}

.top-menu-bar .menu-box-1>ul>li>.sub-menu>.row>.cell {
  background-color: green;
  vertical-align: top;
}

.top-menu-bar .menu-box-1>ul>li>.sub-menu>.row>.cell:first-child {
  width: 182px;
  background-color: #FDFEF2;
  border-bottom: 3px solid #FF57A5;
}

.top-menu-bar .menu-box-1>ul>li>.sub-menu>.row>.cell:first-child>ul>li>a {
  color: #484848;
  padding: 10px 0;
  padding-left: 15px;
  position: relative;
  font-size: 0.95rem;
}

.top-menu-bar .menu-box-1>ul>li>.sub-menu>.row>.cell:first-child>ul>li {
  border-bottom: 1px solid #dfdfdf;
}

.top-menu-bar .menu-box-1>ul>li>.sub-menu>.row>.cell:first-child>ul>li:hover>a {
  color: #DD4672;
}

.top-menu-bar .menu-box-1>ul>li>.sub-menu>.row>.cell:first-child>ul>li>a::before {
  content: "";
  position: absolute;
  border: 2px solid #afafaf;
  left: 5px;
  top: calc(50% - 2px);
  transform: rotate(45deg);
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.top-menu-bar .menu-box-1>ul>li>.sub-menu>.row>.cell:last-child>.img-box>.txt-box {
  color: white;
  position: absolute;
  top: 0;
  padding-top: 10px;
  padding-left: 10px;
}

/* 탑 메뉴바 끝 */

/* 푸터바 시작 */

.footer-bar {
  color: white;
  position: relative;
  z-index: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-bar>.menu-box-1 {
  position: relative;
}

.footer-bar>.menu-box-1>ul,
.footer-bar {
  background-color: #101010;
}

.footer-bar>.menu-box-1>ul>li>a {
  padding: 10px 30px;
}

.footer-bar>.menu-box-1>ul>li>a>span {
  margin-top: -3px;
}

.footer-bar>.menu-box-1>ul>li.cell-kakao>a>span {
  color: #F6D93D;
}

.footer-bar>.menu-box-1::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #383838;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  z-index: -1;
}

.footer-bar>.sns-box-1 {
  margin-top: 30px;
}

.footer-bar>.sns-box-1>ul>li>a {
  padding: 0 10px;
}

.footer-bar>.site-info-box {
  margin-top: 30px;
}

.footer-bar>.site-info-box>h1 {
  font-size: 1.2rem;
}

.footer-bar>.site-info-box>.content {
  margin-top: 20px;
}

.footer-bar>.site-info-box>.content>.box>ul>li {
  position: relative;
  font-size: 0.85rem;
  color: #666;
}

.footer-bar>.site-info-box>.content>.box>ul>li.cell-address>ul>li:not(:last-child) {
  margin-right: 10px;
}

.footer-bar>.site-info-box>.content>.box>ul>li.cell-address>ul>li>span {
  color: white;
  margin-right: 10px;
}

.footer-bar>.site-info-box>.content>.box>ul>li.cell-address>ul>li>ul>li:not(:last-child) {
  margin-right: 10px;
}

.footer-bar>.site-info-box>.content>.box>ul>li:not(:last-child) {
  margin-right: 20px;
}

.footer-bar>.site-info-box>.content>.box>ul>li:not(:last-child)::before {
  content: "";
  position: absolute;
  right: -12px;
  top: 8px;
  width: 1px;
  height: 10px;
  background-color: white;
}

/* 푸터바 끝 */



/* 탑 슬라이더 1 시작 */
.top-slider-1 {
  height:700px;
  position:relative;
}

.top-slider-1 > .slides > li {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s, opacity 0.3s;
}

.top-slider-1 > .slides > li.active {
  visibility:visible;
  opacity:1;
}

.top-slider-1 > .page-menu {
  position:absolute;
  bottom:0;
  left:50%;
  transform:translatex(-50%);
  width:1000px;
  background-color:#646262;
}

.top-slider-1 > .page-menu > li {
  width:20%;
}

.top-slider-1 > .page-menu > li > a {
  display:block;
  text-align:center;
  padding: 10px 0;
  color:white;
  font-weight:bold;
}

.top-slider-1 > .page-menu > li:not(:last-child) > a {
  border-right:1px solid white;
}

.top-slider-1 > .page-menu > li.active > a {
  background-color:#E32653;
}
/* 탑 슬라이더 1 끝 */

/* 배너 박스 1 시작 */
.banner-box-1 > .cell {
  width:528px;  
}

.banner-box-1 > .cell:last-child {
  width:calc(100% - 528px);
}

.banner-box-1 .slider-box-1 > .slider > .slick-dots {
  position:absolute;
  top:30px;
  bottom:auto;
  right:70px;
  width:auto;
}

.banner-box-1 .slider-box-1 > .slider > .slick-dots > li {
  width:auto;
  height:auto;
  margin:0;
}

.banner-box-1 .slider-box-1 > .slider > .slick-dots > li > span > img:last-child {
  display:none;
}

.banner-box-1 .slider-box-1 > .slider > .slick-dots > li.slick-active > span > img:last-child {
  display:block;
}

.banner-box-1 .slider-box-1 > .slider > .slick-dots > li.slick-active > span > img:first-child {
  display:none;
}

.banner-box-1 .slider-box-1 > .slider {
  margin-bottom:0;
}

.banner-box-1 .slider-box-1 > .slider > .slick-list > .slick-track > .slick-slide {
  outline: none;
}

.banner-box-1 .slider-box-1 > .slider > .slick-list > .slick-track > .slick-slide > div {
  line-height:0;
}

.banner-box-1 .slider-box-1 > .slider > .slick-list > .slick-track > .slick-slide > div > * {
  line-height:normal;
}
/* 배너 박스 1 끝 */

/* 배너 박스 2 시작 */
.banner-box-2 {
  margin-top:70px;
}

.banner-box-2 > div.row > a + a {
  margin-left:30px;
}
/* 배너 박스 2 끝 */

/* 배너 박스 3 시작 */
.banner-box-3 {
  margin-top:60px;
}

.banner-box-3 > .cell:first-child {
  width:calc(100% - 793px);
}

.banner-box-3 .slider-box-2 > .slider > .slick-dots {
  position:absolute;
  top:55px;
  bottom:auto;
  right:75px;
  width:auto;
}

.banner-box-3 .slider-box-2 > .slider > .slick-dots > li {
  margin:0;
}

.banner-box-3 .slider-box-2 > .slider > .slick-dots > li > span > img:last-child {
  display:none;
}

.banner-box-3 .slider-box-2 > .slider > .slick-dots > li.slick-active > span > img:last-child {
  display:block;
}

.banner-box-3 .slider-box-2 > .slider > .slick-dots > li.slick-active > span > img:first-child {
  display:none;
}

.banner-box-3 .slider-box-2 > .slider {
  margin-bottom:0;
}

/* 배너 박스 3 끝 */

/* 배너 박스 4 시작 */
.banner-box-4 {
  margin-top:80px;
}

.banner-box-4 > .cell:first-child {
  width:calc(343px + 362px);
}

.banner-box-4 > .cell:first-child > .cell:nth-child(2n + 1) {
  width:343px;
}

.banner-box-4 > .cell:first-child > .cell:nth-child(2n) {
  width:362px;
}

.banner-box-4 > .cell:last-child {
  width:calc(100% - (343px + 362px));
}

.banner-box-4 .form-box-1 {
  background-color:#fddc2f;
  padding-top:20px;
  padding-bottom:28px;
  padding-right:10px;
  padding-left:5px;
  box-sizing:border-box;
}

.banner-box-4 .form-box-1 > .cell:not(:first-child) {
  margin-top:10px;
}

.banner-box-4 .form-box-1 > .cell > .label {
  padding-right:10px;
  line-height:30px;
}

.banner-box-4 .form-box-1 > .cell > .box > .cell > input[type="text"],
.banner-box-4 .form-box-1 > .cell > .box > .cell > input[type="tel"],
.banner-box-4 .form-box-1 > .cell > .box > .cell > select,
.banner-box-4 .form-box-1 > .cell > .box > .cell > textarea {
  padding:3px 5px;
  resize:none;
}

.banner-box-4 .form-box-1 .cell-phone > .box > .cell:not(:first-child) {
  padding-left:20px;
  position:relative;
}

.banner-box-4 .form-box-1 .cell-phone > .box > .cell:not(:first-child)::before {
  content:"-";
  position:absolute;
  left:7px;
  top:50%;
  transform:translateY(-57%);
}

.banner-box-4 .form-box-1 .btn-sumit {
  border:0;
  outline:0;
  background-color:#3A2023;
  color:white;
  font-weight:bold;
  padding:10px 0;
  cursor:pointer;
}

.banner-box-4 .slider-box-3 > .slider {
  margin-bottom:0;
}

.banner-box-4 .slider-box-3 > .slider > .slick-dots {
  position:absolute;
  bottom:30px;
  right:150px;
  width:auto;
}

.banner-box-4 .slider-box-3 > .slider > .slick-dots > li {
  width:auto;
  height:auto;
  margin:0 2px;
}

.banner-box-4 .slider-box-3 > .slider > .slick-dots > li button::before {
  color:red;
  font-size:1rem;
}

.banner-box-4 .slider-box-3 > .slider > .slick-list > .slick-track > .slick-slide > div {
  line-height:0;
}

.banner-box-4 .slider-box-3 > .slider > .slick-list > .slick-track > .slick-slide > div > * {
  line-height:normal;
}
/* 배너 박스 4 끝 */

/* 배너 박스 5 시작 */
/* 배너 박스 5 끝 */


/* 게시물 박스 1 시작 */
.article-box-1 {
  margin-top:30px;
  margin-bottom: 30px;
  overflow-x:hidden;
}

.article-box-1 > .row > .cell {
  /* 1차 */
  /*
  width:calc(33.3333% - (40px / 3));
  */
  width:calc((100% - 12px * 2) / 3);
}

.article-box-1 > .row > .cell:not(:last-child) {
  margin-right:12px;
}

.article-box-1 > .row > .cell > div {
  background-color:#f8f8f8;
  padding:30px 30px;
}

.article-box-1 > .row > .cell > div > h1 > a {
  font-weight:normal;
  font-size:1.9rem;
}

.article-box-1 > .row > .cell > div > h1:hover > a {
  font-weight:bold;
}

.article-box-1 > .row > .cell > div > ul {
  margin-top:10px;
}

.article-box-1 > .row > .cell > div > ul > li {
  position:relative;
}

.article-box-1 > .row > .cell > div > ul > li::before {
  content:"";
  display:block;
  border-bottom:1px solid #eaeaea;
  position:absolute;
  bottom:0;
  left:0;
  right:15px;
}

.article-box-1 > .row > .cell > div > ul > li > * {
  padding-top:20px;
  padding-bottom:20px;
}

.article-box-1 > .row > .cell > div > ul > li > a {
  white-space:nowrap;
  overflow-x:hidden;
  text-overflow:ellipsis;
  position:relative;
  padding-left:15px;
}

.article-box-1 > .row > .cell > div > ul > li > a:hover {
  font-weight:bold;
}

.article-box-1 > .row > .cell > div > ul > li > a::before {
  content:"";
  position:absolute;
  width:5px;
  height:5px;
  top:calc(50% - 2.5px);
  left:0;
  background-color:black;
}

.article-box-1 > .row > .cell > div > ul > li.status-answer::before {
  left:80px;
}

.article-box-1 > .row > .cell > div > ul > li.status-answer > a {
  padding-left:85px;
}

.article-box-1 > .row > .cell > div > ul > li.status-answer > a::before {
  content:"답변대기";
  font-size:0.8rem;
  position:absolute;
  width:auto;
  height:auto;
  color:white;
  padding:5px 15px;
  top:50%;
  transform:translateY(-50%);
  left:0;
  background-color:#666;
}

.article-box-1 > .row > .cell > div > ul > li.status-answer.status-answer-done > a::before {
  background-color:#F500A0;
  content:"답변완료";
}

/* 게시물 박스 1 끝 */